/* classes */
$header-class: '.excel-header';
$toolbar-class: '.excel-toolbar';
$formula-class: '.excel-formula';
$table-class: '.excel-table';
$field-class: '.excel__input';
$button-class: '.excel__button';
$dashboard-class: '.dashboard';

/* font-size */
$h1-desktop: 48px;
$h1-tablet: 36px;
$h1-mobile: 24px;

$h2-desktop: 36px;
$h2-tablet: 24px;
$h2-mobile: 18px;

$h3-desktop: 24px;
$h3-tablet: 18px;
$h3-mobile: 14px;

$h4-desktop: 18px;
$h4-tablet: 14px;
$h4-mobile: 12px;

$paragraph: 12px;

/* size */
$row-info-width: 40px;
$cell-width: 80px;

/* colors */
$black: #07101d;
$blue: #2d64d7;
$border-color: #c0c0c0;
$border-color-light: #d7d7d7;
$grey-dark: #565454;
$white-antique: #e0dede;
$green-light: #389458;

/* breakpoints */
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

