/* classes */
$header-class: '.excel-header';
$toolbar-class: '.excel-toolbar';
$formula-class: '.excel-formula';
$table-class: '.excel-table';

/* font-size */
$h1-desktop: '48px';
$h1-tablet: '36px';
$h1-mobile: '24px';

$h2-desktop: 36px;
$h2-tablet: 24px;
$h2-mobile: 18px;

$h3-desktop: 24px;
$h3-tablet: 18px;
$h3-mobile: 14px;

$h4-desktop: 18px;
$h4-tablet: 14px;
$h4-mobile: 12px;

$paragraph: 12px;
