
#{$dashboard-class} {

  &-header {

    &__title {
      margin-bottom: 0;
      font-size: $h1-mobile;
      line-height: 1.5em;
      text-align: center;

      @media screen and (min-width: $sm) {
        margin-bottom: 20px;
        font-size: $h1-tablet;
      }
      @media screen and (min-width: $md) {
        font-size: $h1-desktop;
      }
    }

    &__subtitle {
      font-size: $h2-mobile;
      line-height: 1.5em;
      text-align: center;

      @media screen and (min-width: $sm) {
        font-size: $h2-tablet;
      }
      @media screen and (min-width: $md) {
        font-size: $h2-desktop;
      }
    }
  }

  &-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;

    &__button {
      width: 220px;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: $h4-desktop;
      line-height: 1.5em;
      color: $black;
      background-color: $white-antique;
      border: 1px solid $border-color;
      border-radius: 8px;
      padding: 40px;
      text-decoration: none;
      transition: all 0.4s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}